{%extends "base.html" %}

{%block content%}
    <form class="form-floating">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="URL" id="url">
          <button class="btn btn-outline-secondary" type="button" id="download-btn" onclick="sendURL()">Download</button>
        </div>

        <table class="table table-hover table-bordered table-striped table-striped-columns border text-center" id="downloadList">
          <thead>
            <tr>
              <th class="col-6">File</th>
              <th class="col-4">Progress</th>
              <th class="col-2">Status</th>
            </tr>
          </thead>
        </table>
    </form>
    <script src="static/js/download-form.js"></script>
{% endblock %}
